@charset "UTF-8";
/* CSS Document */
/* UI - X */
.ui-312{
	margin: 10px 0px;
}
@media(max-width: 500px){
	.ui-312 .col-mob{
		width: 100%;
	}
}
/* Item */
.ui-312 .ui-item{
	margin: 20px auto;
	position: relative;
}
.ui-312 .ui-item .ui-last, 
.ui-312 .ui-item .ui-middle, 
.ui-312 .ui-item .ui-first{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	background: #fff;
	height: 100%;
	z-index: -1;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
}
/* Last Layer */
.ui-312 .ui-item .ui-last{
	bottom: -15px;
	width: 94%;	
}
/* Middle Layer */
.ui-312 .ui-item .ui-middle{
	bottom: -10px;
	width: 96%;
}
/* First Layer */
.ui-312 .ui-item .ui-first{
	bottom: -5px;
	width: 98%;
}
/* Top Most Layer */
.ui-312 .ui-item .ui-top{
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 12px 23px;
	border-radius: 2px;
}
/* Heading */
.ui-312 .ui-item .ui-top h3{
	font-size: 1.2em;
	line-height: 2;
	text-transform: uppercase;
}
/* Paragraph */
.ui-312 .ui-item .ui-top p{
	font-size: 1.1em;
	line-height: 1.8;
	color:#888;
}
#tekinfo_main {
	margin-bottom: 15px;
}