@charset "UTF-8";
/* CSS Document : popmenu.css*/
/* General CSS */
.popmenu{
	position:fixed;
	bottom:20px;
	right:10px;
	z-index: 10880;
}

.popmenu a{
	background-color: !important;
}
/* Button */
.popmenu a.popmenu-btn{
	position: absolute;
	bottom: 36px;
	right: 35px;
	width: 53px;
	height: 53px;
	line-height: 46px;
	border-radius: 100% !important;
	text-align: center;
	font-size: 52px;
	color: #fff;
	font-weight: 600;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	
}
.popmenu a.active{
	transform: rotate(45deg);
}

.popmenu .foot-search{
	margin:10px;
	width:100%;
	font-size: 0.8em;
}

.popmenu .find-btn{
	width: 48px !important;
	margin:0;
	padding:0;
}

.popmenu .find-btn img{
	width: 32px !important;
	margin: auto;
}
/** UI 267*/

/* List */
.menu-body{
	position: absolute;
	bottom: 39px;
	right: 45px;
	height: 0px;
	opacity: 0;
	font-size: 1em;
	
}

.menu-body img{
	border:0;
}
.menu-body .block-content {
	max-width: 400px;
	min-width: 280px;
	margin: 0 auto;
	background: rgba(255,255,255,1.00);/** url(../../images/background/popmenu-back.png);**/
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) ;
	
	padding:10px;
	
	-webkit-border-radius: 15px  !important;
    -moz-border-radius: 15px !important;
}
.menu-body .ui-head {
	padding: 0 15px;
	text-align: center;
	font-size: 1.2em;
	line-height: 55px;
	font-weight: 600;
	color: #fff;
	
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
}
.menu-body .ui-head i,.menu-body .ui-foot i { 
	position: relative;
	
	width: 30px;
	height: 30px;
	line-height: 28px;
	background: #116173;
	color: white;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 100% !important;
}

.menu-body .fa{
	color:#116173;
}

.menu-body ul { margin: 0; }
.menu-body ul li{
	margin: 6px 6px 6px 6px;
}
.menu-body ul li a {
	display: block;
	padding: 0 18px;
	/**border: 1px solid rgba(0,0,0,0.15);
	border-top: 0;**/
}
.menu-body ul li a:hover { background: #fcfcfc; }
.menu-body ul li:last-child a { 
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.menu-body ul li a h5 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 45px;
	
	font-family: "Microsoft YaHei","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",Helvetica, Arial,sans-serif;
	font-size: 1.2em;
	font-weight:bold;
	
	line-height: 1.8em;
	color: #116173;
}
.menu-body ul li a .sub-text {
	display: block;
	margin-top: 1px;
	margin-left: 45px;
	font-size: 13px;
	color: #909090;
}
.menu-body ul li a .left-icon {
	position: relative;
	top:3px;
	font-size: 32px;
	float: left;
	border-radius: 100% !important;
}
.menu-body ul li a .right-icon i { margin-top: 5px; }
.menu-body ul li a .right-icon {
	position: relative;
	top: 2px;
	font-size: 20px;
	float: right;
	color: #ccc;
}

.menu-body .ui-foot {
	padding: 0 15px;
	text-align: center;
	font-size: 1.2em;
	/*line-height: 55px;*/
	font-weight: 600;
	color: #fff;
	
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

/* List */
.popmenu .ui-list{
	position: absolute;
	bottom: 39px;
	right: 45px;
	height: 0px;
	opacity: 0;
}
/* Icons */
.popmenu .ui-list a{
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 1.2em;
	border-radius: 100% !important;
	text-align: center;
	color: #fff;
	margin: 8px auto;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
}

#popmenu_Layer{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 10660;
    background:#DCDBDC;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}

#option_Layer{
    position: absolute;
    display: none;
    width: 80%;
    height: 100%;
    left:0;
    top:0;
    z-index: 10660;
    background: rgba(243,249,252,0.96) url(../../images/background/back.png) repeat;
}