@charset "utf-8";
/* CSS Document */

/*页面布局样式 覆盖掉了 bootstrap.min.css 中的样式*/
@media (min-width: 1200px) {
.container { width: auto; }
}
@media (min-width: 992px) {
.container { width: auto; }
}
@media (min-width: 768px) {
.container { width: auto; }
}
/**********************************strat 菜单************************************/
.hint-explain {
	padding-top:3px !important;
	padding-bottom:3px !important;
	text-align: center !important;
	font-size: 0.98em !important;
	color: rgb(136,136,136) !important;
}
.hint-explain span {
	padding: 0 10px;
}
/**********************************end 菜单************************************/

/**********************************strat.index-area************************************/
.index-area {
	/*border: 1px solid #F30;*/
}
.index-area .index-area-content {
	min-height: 80px;
}

.transaction-content {
	min-height: 40px;
	margin-top: 5px;
    margin-bottom: 5px;
}      	

.index-area .index-area-foot {
	margin-bottom: 20px;
}
.index-area .index-area-foot .pagination {
	margin: 0;
}

/*-----瀑布流--------*/
.flow-container {
    position: relative;
}
.flow-container .flow-item-box {
    background: #fafafa url('images/cream.png') repeat;
    zoom: 1;
    position: absolute;
    border: 1px solid #D8D8D8;
    width: 305px !important; /*更改时，同事也要更改 index-waterFlow.js中值*/
	padding: 5px 15px 10px;
}
/*标题*/
.flow-item-box .box-title {
	min-height: 40px;
    margin-right: 40px;
    line-height: 1.4em;
    padding: 10px 0 5px;
    box-sizing: border-box;
}
.flow-item-box .box-title a {
	color: rgb(41, 41, 41);;
	font-weight: 600;
	font-size: 1.2em;
}
/*作者图标*/
.flow-item-box .box-owner-icon {
    width: 38px;
	height: 38px;
	display: table-cell;
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: #F2F2F2;
}
/*作者 & 类型*/
.flow-item-box .box-owner-stype {
	display: table;
    width: 100%;
    vertical-align: middle;
	color: #005BAC;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1em;
}
/*作者*/
.flow-item-box .box-owner-stype .box-owner {
	display: table-cell
}
/*类型*/
.flow-item-box .box-owner-stype .box-type {
	display: table-cell;
    width: 80px;
	text-align: right;
}
.flow-item-box .box-owner-stype .box-type i {
	margin-right: 5px;
}
/*标签*/
.flow-item-box .box-tags {
	margin: 10px 0 5px;
	line-height: 1.0em;
	font-size: 0.9em;
	color: #005BAC;
}
/*概要*/
.flow-item-box .box-summary {
	margin-bottom: 5px;
	font-size: 1.0em;
	line-height: 1.5em;
	max-height: 238px; /*10行 行高*行数*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
/*图片*/
.flow-item-box .box-image {
	margin: 0 -15px;
}
.flow-item-box .box-tags i {
	margin-right: 10px;
	cursor: pointer;
}
.flow-item-box .box-tags span {
	cursor: pointer;
}
/*底部其他*/
.flow-item-box .box-foot {
	margin-top: 8px;
	line-height: 1.1em;
	font-size: 0.9em;
    color: #757575;
}
.flow-item-box .box-foot .scattered-info {
    margin-left: 10px;
}
.flow-item-box .box-foot .scattered-info:first-child {
    margin-left: 0;
}
.flow-item-box .box-foot .scattered-info i {
    margin-right: 3px;
}
/*时间*/
.flow-item-box .box-foot .box-time {
	font-size: 0.8em;
	color: #757575;
	float: right;
}



/**********************************end.index-area************************************/