body {
	text-align:center;
	margin:0px;	
}
img{border:none; }
#main { 
	min-width:720px; 
	height: auto;
	text-align:center;
	margin: 25px auto 0 10px; 
}

/* ~~ 站点链接的样式必须保持此顺序，包括用于创建悬停效果的选择器组在内。 ~~ */
a:link {
	color:#414958;
	text-decoration: none; /* 除非将链接设置成极为独特的外观样式，否则最好提供下划线，以便可从视觉上快速识别 */
}
a:visited {
	color: #4E5869;
	text-decoration: none;
}

#menu{
	background:url(../../../images/grey_menu_back.png) no-repeat top left;
	height:43px;
	width:720px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	text-decoration: none;
}

#menu li{
	float:left;
	width:84px;
	height:36px;
	font-family:"微软雅黑";
	font-size:small;
	text-align:center;
	line-height:38px;
	text-decoration: none;
	list-style-type:none;
}

#menu .menu1 {
	float:right;
}

#menu  .title{
	text-decoration: none;
	text-align:left;
	display:inline-block;
	font-family:"微软雅黑";
	font-size:small;
	padding-left:20px;
	width:auto;
}

#menu .menuover{
	text-decoration: none;
	background:url(../../../images/menuon.png);
	font-weight:bold;	
	cursor:pointer;
}

#menu a:hover{
	font-weight:bold;
}
#menu .menuout{
	text-decoration: none;
	color:#505050;
}

#info
{
	max-width:660px;
	min-width:600px;
    margin: 5px auto 5px auto;
	font-size:small;
	text-decoration:none;
}


#info li
{
	float:left;
    text-align: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-right:5px;
    width:48%;
	min-height:28px;
	overflow:auto;
	text-decoration: none; 
	display:inline-block;

	background-color: #F9F9F9; 
	border:1px solid #b9cff6;
}

.msg {
	width:auto;
	text-align:left;
}
