.column-last button{
  margin: 5px;
}

.column-first{text-align: center;}
.column-city_code{text-align: center;}
.column-city_fullname{text-align: center;}
.column-city_name{text-align: center;}
.column-city_state{text-align: center;}
.column-city_valid{text-align: center;}
.column-city_locale{text-align: center;}
.column-last{text-align: center;}

/*span.label{font-size: 1em !important;}*/
.column-last button.btn b.icon-ok{font-size: 1em !important;}

h2 > i.fa{
    display: inline-block;
    width:38px;
    height:38px;
    line-height: 38px;
    text-align: center;
    border-radius: 19px;
    background: #eee;
}

#table-infos td{
    vertical-align:middle;
}

table tr td{
	text-align: center !important;
}