@charset "UTF-8";
/* CSS Document */

.label-left{
	float:left;
	margin-right:20px;
}

.form-control {

    height: 2.4em;
}
.form-group label {
	text-align: right;
}
@media (max-width: 400px){
	.ui-105 {
		 margin: 40px auto; 
	}
	.row h5 {
		display: none;
	}
}
	