@charset "UTF-8";
/* CSS Document */

/* Resume */
.resume-mini{
	max-width:700px;
	margin:120px auto;
	background:#fff;
	padding:50px 40px;
	border-radius: 1% !important;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2) !important;
}
@media (max-width:520px){
	.resume-mini{
		margin:60px 10px;
		padding:30px 20px;
	}
}
.resume-mini img{
	width:25px;
	margin:0px auto;
	margin-bottom:20px;
}
.resume-mini h2{
	font-size:25px;
	line-height:40px;
	font-weight:normal;
	margin-bottom:10px;
}
.resume-mini p{
	font-size:15px;
	line-height:35px;
	color:#888;
	margin-bottom:30px;
}
.resume-mini .brand-bg a{
	display:inline-block;
	width:35px;
	height:35px;
	color:#fff;
	border-radius:100px;
	margin:0px 3px;
	line-height:35px;
}
.col-md-6{
	text-align: left;
}

.ui-52{
    margin:60px auto 30px;
    max-width:1000px;
}

/* Column Padding */
.ui-52 .col-pad{
    padding-left:0px;
    padding-right:0px;
}

/* Info */
.ui-52 .ui-info{
    position:relative;
    border-radius:4px !important;
    padding:35px 0px 25px;
    margin:20px 15px 40px;
    background:#fff;
    border:1px solid #e7e7e7;
    box-shadow:3px 3px 0px 1px rgba(0,0,0,0.05) !important;
}
/* Image */
.ui-52 .ui-info img{
    width:150px;
    height:150px;
    border-radius:100% !important;
    border:1px solid #eee;
    padding:3px;
    margin-left: 23px;
    float:left;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,0.05) !important;
}

/* Details */
.ui-52 .ui-info .ui-details{
    margin-left:20px;
}

/* Item */
.ui-52 .ui-details .ui-item{
    padding:7px 10px;
    max-width:286px;
    margin:0px auto 10px;
}

/* Heading */
.ui-52 .ui-details .ui-item h4{
    font-size:1.1em;
    line-height:22px;
    color:#bbb;
    text-transform:uppercase;
    font-weight:600;
}
/* Content */
.ui-52 .ui-details .ui-item h5{
    font-size:1em;
    line-height:23px;
    color:#777;
    font-weight:600;
}
/* Social */
.ui-52 .ui-info .ui-social{
    position:absolute;
    top: -15px;
    right: 15px;
}

/* Icon */
.ui-52 .ui-info .ui-social a > i{
    width:33px;
    height:33px;
    line-height:33px;
    color:#fff;
    text-align:center;
    margin-right:2px;
    border-radius:50px !important;
}
.ui-52 .ui-info .ui-social .ui-tooltip{
    position: relative;
    border: none;
    -webkit-box-shadow: none;
    padding:0;
}

/*question start*/
.question .dropdown-menu{
    background-color: #fff;
}
/*question end*/

.library-question{
    font-size:0.9em;
}

.library-question input{
    position: relative;
    top: 2px;
    margin-right: 8px;
    line-height: normal;
}

.library-question .btn-group{
    top:3px;
    padding:5px 0px;
}

.library-question .question-heading{
    color:	#677;
}
.library-question .question-heading:hover{
    color:	#131818;
}
.library-question .question-heading:mousedown{
    color:	#131818;
}

.library-answer{
    padding:0px 20px;
    background-color:rgba(203, 203, 203, 0.1);
    border:1px solid #FFF;
    border-radius:5px;
    display:none;
}

.library-answer i.fa-check{
    color: rgb(92, 158, 145);
}

.details-text-center button{
    margin:5px;
}

/*标签*/
#lib-common-tags-ul{
    list-style: none;
    padding: 0;
}
