@charset "UTF-8";
/* CSS Document */
/* Button */
.popmenu a.popmenu-btn{
	position: absolute;
	bottom: 28px;
	right: 35px;
	width: 53px;
	height: 53px;
	line-height: 46px;
	border-radius: 100% !important;
	text-align: center;
	font-size: 36px;
	color: #fff;
	font-weight: 600;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
/* UI X */
/* Login-Register */
.login-reg{
	max-width:700px;
	margin:100px auto;
	padding:30px;
	background:#fff;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2) !important;
	border-radius:5px !important;
}
@media (max-width:450px){
	.login-reg{
		margin:50px 20px;
	}
}
.login-reg h4{
	text-align:center;
}
.login-reg .s-media{
	text-align:center;
}
.login-reg .s-media a.btn{
	margin:2px 5px;
}
/* Inside login and register form */
.login-reg-form form{
	max-width:580px;
}
@media (max-width:991px){
	.login-reg-form{
		max-width:600px;
	}
}
.login-reg-form .form-control{
	padding:3px 12px;
}
.login-reg-form .form-group .tag{
	margin:0;
	margin-left:-40px;
}
.login-reg-form form .form-group .tag .remove-tag{
	margin-top:-4px;
	border-radius:100% !important;
}
li.active{
	background:#900;
	border:1px solid #333;
}
li.active a.tagValue{
	color:#fff;
}
.login-reg-form .form-group .col-xs-11,
.login-reg-form .form-group .col-xs-1{
	padding-left:0;
}
.login-reg-form .form-group .removeInput{
	text-align:center;
	width:30px;
	height:30px;
	position:absolute;
	right:16px;
	top:1px;
	text-align:center;
	line-height:1.2;
}
.login-reg-form .form-group .tempInput{
	position:relative;	
}
.form-group {
	text-align: right;
}