/* CSS Document */
.ui-301, .ui-301 .row, .ui-105-content {
	width: 80%;
	margin: auto;
}
.ui-301 {
	margin-top: 50px;
}
.isHide {
	display: none;
}
.radio-checkbox-ul {
	list-style: none;
}
.radio-checkbox-ul li {
	float: left;
	margin-right: 10px;
}