table tr td{
	text-align: center !important;
}
#table-columns th{
	text-align:center;
}
#table-infos > tr > td > span.label {
    font-size: 1em;
}
#table-infos .column-last  button.btn{
    font-size: 1em;
}
h2 > i.fa {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 19px;
    background: #eee;
}
#table-infos tr td.column-first,
#table-infos tr td.column-last{
	text-align:center;
}
.column-last button{
  margin-left: 5px;
  margin-right: 5px;
}
#list-top > .pull-left {
    margin: 5px 15px 5px 5px;
}
#table-infos > tr > td {
    padding-top: 12px;
    word-break: break-all;
    overflow: auto;
}