@charset "utf-8";
/* CSS Document */
/************** add tag **************/
.admin-form{
	/*max-width: 768px;*/
	/*margin: 20px auto 50px;*/
}
/************** end add tag **************/

/*************** label ******************/
form div.form-group > label { text-align: right; margin-bottom: 0; }
/************** end label ******************/

/*************** button ******************/
div#btn button { margin: 0 50px 0 0; float:none; }
div#btn button:last-child { margin:0; }
/************** end button ******************/
