#list-top>.pull-left{ margin:5px 15px 5px 5px; }
#list-top>.btn-group{ margin-left:5px; }

#table-infos>tr>.column-authority_status { text-align:center; }
#table-infos>tr>.column-authority_status>span { font-size:12px; }
