.tags-content {
    min-height: 100px;
    padding: 0 15px;
}

.tag-ball {
    font-size: 1em;
    padding: 5px 10px !important;
    cursor: pointer;
    margin: 5px 8px;
}
.tag-ball:hover {
    opacity: 0.8;
}

.open-cancel span.tag-ball {
    background: #ed5441 !important;
}

.add-tag-content {
    max-width: 600px;
    margin: 0 auto 40px;
    position: relative;
}

.add-tag-content > div {
    margin-right: 60px;
}

.add-tag-content > button {
    position: absolute;
    top: 0;
    right: 0;
}