@charset "utf-8";

/*************** label ******************/
form div.form-group > label { text-align: right; margin-bottom: 0; }


/*************** button ******************/
div#btn button { margin: 0 50px 0 0; float:none; }
div#btn button:last-child { margin:0; }
