/* CSS Document */
div.loading {
	height: 180px;
    padding-top: 90px;
}

.error-content {
    height: 300px;
    padding-top: 145px;
    font-size: 1.3em;
}

#option-info {
	border: 3px solid #5bc0de;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}